* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fee7d2;
    text-align: center;
    padding: 0px;
}


#titles {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin-top: 20px;
   
}





.title-grid {
    z-index: 1;
    display: grid;
}

.line1, .line2, .line3, .line4 {
    font-size: 110px;
    font-weight: 1000;
    color: black;
    cursor: default;

}

.line1, .line3 {
    position: relative;
    text-align: left;
    right: 100px;
}

.line2, .line4 {
    position: relative;
    text-align: right;
    left: 100px;
}

#line1{
    position: absolute;
    background-color: #ffccc8;
    width: 200%;
    height: 140px;
    bottom: -8px;
    right: 200px;
    z-index: -1;
    
}

#line2{
    position: absolute;
    background-color: #eacee1;
    width: 600%;
    height: 140px;
    bottom: -8px;
    left: -10px;
    z-index: -1;

}

#line3{
    position: absolute;
    background-color: #c5e0e3;
    width: 200%;
    height: 140px;
    bottom: -8px;
    right: 50px;
    z-index: -1;
   
}

#line4{
    position: absolute;
    background-color: #fed3b5;
    width: 600%;
    height: 140px;
    bottom: -8px;
    left: 160px;
    z-index: -1;
  
}
  

  


.subtitle {
    position: relative;
    font-size: 1.6vw;
    letter-spacing: 0.2em;
    color: #444;
    text-align: right;
    margin-top: 2vw;
    font-weight: 300;
    left: 150px;
    cursor: default;
}






#speakers {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    
}


#speakers-list {
    display: inline-flex; 
    justify-content: center;  
    gap: 30px;  
    margin-top: 20px;

   
}



.speaker-name {
    background: #000000;
    color: #000000;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    align-items: center;
    margin: 0; 
    position: relative;
    width: 280px;
}



.speaker-name:hover {
    background: #ffa5a5;
    color: white;
}




.event {
    color: white;
   
    border-radius: 5px;
    text-align: center;
    width: 90%;
    margin: 20px auto;
    position: relative;

}

/*speaker name in event*/
.event h3 {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: -40px;
    padding-top: 30px;
   

}

.date, .time, .location {  
    position: relative;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 2px;
    margin-left: 550px;
    padding-left: 500px;
    bottom: 200px;
    cursor: default;
}

.info{
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    padding: 20px;
    cursor: default;
}

.bio{
    position: relative;
    bottom: 130px;
    left: 20px;
}
.lecture{
    position: relative;
    right: 100px;
    bottom: 40px;
}


/*Speaker 1*/
#info-title1{
    font-size: 60px;
    width: 20%;
}

#info-title2{
    font-size: 50px;
    width: 150%;
}


#lecture-text{
    max-width: 1000px; 
    width: 120%;
}


#bio-text{
    width: 100%;
    max-width: 500px; 
}

/*Speaker 2*/
#info-title1-2{
    font-size: 60px;
    width: 20%;
}

#info-title2-2{
    font-size: 50px;
    width: 125%;
    max-width: 1300px; 
}


#lecture-text2{
    max-width: 1000px; 
    width: 120%;
}


#bio-text2{
    width: 100%;
    max-width: 500px; 
}

/*Speaker 3*/

#info-title1-3{
    font-size: 60px;
    width: 20%;
}

#info-title2-3{
    font-size: 50px;
    width: 120%;
}


#lecture-text3{
    max-width: 1000px; 
    width: 120%;
}


#bio-text3{
    width: 100%;
    max-width: 500px; 
}


/*Speaker 4*/

#info-title1-4{
    font-size: 60px;
    width: 20%;
}

#info-title2-4{
    font-size: 50px;
    width: 120%;
}


#lecture-text4{
    max-width: 1000px; 
    width: 120%;
}


#bio-text4{
    width: 100%;
    max-width: 500px; 
}




.info h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    color: #000000; 
}

.info p {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 10px;
    color: #ffffff;
    padding-top: 10px;
    max-width: 400px; 
}
  

/*speaker 1*/
.external_links a {
    position: relative;
    font-size: 24px;
    color: #000000;
    margin-top: 10px;
    bottom: 150px;
    left: 100px;
}

.external_links a:hover {
    text-decoration: underline;
    color: #aa4747; 
}

/*speaker 2*/
.external_links2 a {
    position: relative;
    font-size: 24px;
    color: #000000;
    margin-top: 10px;
    bottom: 450px;
    left: 100px;
}

.external_links2 a:hover {
    text-decoration: underline;
    color: #815d97; 
}

/*speaker 3*/
.external_links3 a {
    position: relative;
    font-size: 24px;
    color: #000000; 
    margin-top: 10px;
    bottom: 250px;
    left: 100px;
}

.external_links3 a:hover {
    text-decoration: underline;
    color: #437fa2; 
}

/*speaker 4*/

.external_links4 a {
    position: relative;
    font-size: 24px;
    color: #000000; 
    margin-top: 10px;
    bottom: 350px;
    left: 100px;
}

.external_links4 a:hover {
    text-decoration: underline;
    color: #b36e43; 
    
}




.speaker-name.hover-highlight {
    background-color: #ffa5a5 !important;
    color: #ffa5a5 !important;
    
}

.speaker-name.hover-highlight2 {
    background-color: #c2a4d5 !important;
    color: #c2a4d5 !important;
    
}
 

.speaker-name.hover-highlight3 {
    background-color: #7acce4 !important;
    color: #7acce4 !important;
    
}

.speaker-name.hover-highlight4 {
    background-color: #fca56e !important;
    color: #fca56e !important;
    
}



#first-half{
    position: relative;
    align-items: right;
    right: 150px;
    cursor: default;
}

#second-half{
    position: relative;
    align-items: right;
    left: 400px;
    cursor: default;
}

#block1-1{
    position: absolute;
    background-color: #ffa5a5;
    width: 75%;
    height: 140px;
    top: 40px;
    
}

#block2-1{
    position: absolute;
    background-color: #ffa5a5;
    width: 38%;
    height: 140px;
    top: 160px;
    right: 0;
}




#first-half2{
    position: relative;
    align-items: right;
    right: 370px;
    cursor: default;
}

#second-half2{
    position: relative;
    align-items: right;
    right: 40px;
    cursor: default;
}

#block1-2{
    position: absolute;
    background-color: #c2a4d5;
    width: 43%;
    height: 140px;
    top: 40px;
    
}

#block2-2{
    position: absolute;
    background-color: #c2a4d5;
    width: 73%;
    height: 140px;
    top: 160px;
    right: 0;
}





#first-half3{
    position: relative;
    align-items: right;
    right: 420px;
    cursor: default;
}

#second-half3{
    position: relative;
    align-items: right;
    right: 100px;
    cursor: default;
}

#block1-3{
    position: absolute;
    background-color: #6ed3f1;
    width: 35%;
    height: 140px;
    top: 40px;
    
}

#block2-3{
    position: absolute;
    background-color: #6ed3f1;
    width: 80%;
    height: 140px;
    top: 160px;
    right: 0;
}





#first-half4{
    position: relative;
    align-items: right;
    right: 370px;
    cursor: default;
}

#second-half4{
    position: relative;
    align-items: right;
    left: 140px;
    cursor: default;
}

#block1-4{
    position: absolute;
    background-color: #fca56e;
    width: 43%;
    height: 140px;
    top: 40px;
    
}

#block2-4{
    position: absolute;
    background-color: #fca56e;
    width: 74%;
    height: 140px;
    top: 160px;
    right: 0;
}

/* SPEAKERS */


/* maria-carolina-cambre */
#maria-carolina-cambre {
    background-color: #ffb9c1;
}

ffb9c1



/* isabel-machado */
#isabel-machado {
    background-color: #dcbeeb; 
}



/* daniel-wildberger */
#daniel-wildberger {
    background-color: #9edaed; 
}



/* shima-rashnoodi*/
#shima-rashnoodi {
    background-color: #fec6a2; 
    
}


/* the square zooming in and out*/

@keyframes pulsate {
    0% {
        transform: translate(-20%, -50%) scale(1);
    }
    50% {
        transform: translate(-20%, -50%) scale(1.2);
    }
    100% {
        transform: translate(-20%, -50%) scale(1);
    }
}

.scale {
    animation: pulsate 1s infinite ease-in-out;
}



/*

.scribble-mask{
position: absolute;
top: 0;
left: 0;
pointer-events: none;
z-index: 2;
}
/*
canvas.scribble-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
}






/*

canvas.scribble-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
}



*/



